/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color:#737373;;
}


/* ---------------------------
      Utilities CSS 
----------------------------*/
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}



/* ---------------------------
      Header Area CSS 
----------------------------*/
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  background-color: green;
}
.left-menu, .nav-menu ul{
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 100px;
}
.logo a {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.nav-menu ul li {
  padding: 15px 30px;
  background-color: red;
  margin-right: 21px;
}
.nav-menu ul li a{
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}
.right-menu a {
  padding: 15px 25px;
  background-color: #444;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background-color: #23A6F0;
  border-radius: 5px;
}
.right-menu a i {
  margin-left: 10px;
}